#container{
 display:grid;
 height:100 vh;
 width: 80 vh;
 grid-template-columns: repeat(auto,0.5fr);
 grid-template-rows: repeat(auto,0.5fr);
 grid-template-areas: "grid grid grid grid grid grid grid grid";
 
}



.grid{
    border: 2px solid rgb(0, 0, 0);
    padding: 36px;
    background-color: hsl(0, 0%, 100%);
}
.grid:hover{
    border:2px solid hsl(334, 89%, 75%);
}